{% extends 'base.html' %}

{# override meta block #}
{% block pageMeta %}
    <title>About - Winners Chapel CBD</title>
    <meta name="description"
        content="For contact inquiries, please reach us using the message form on our website. Alternatively, you can email us or call us. Our dedicated team is available to assist you with any questions, concerns, or requests you may have.">
    <meta name="keywords"
        content="liviing faith church, liviing faith church cbd, liviing faith church johannesburg, liviing faith church south africa, lfc johannesburg, lfc cbd, winners chapel, winners chapel cbd, winners chapel cbd jhb, bishop david oyedepo, conatct us, contact the ark, faith tarbanacle">
{% endblock pageMeta %}

  <!-- Fonts -->
{% block fonts %}
  {{super()}}
  <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap"
    rel="stylesheet">
{% endblock fonts %}


{% block pageContent %}
    <!-- About Section -->
    <section id="contact" class="contact section">

        <div class="container">

            <div class="row contact-us">
                <div class="col text-center px-lg-5">
                    <h1>CONTACT <span class="text-red">US</span></h1>
                    <p class="mx-lg-5 px-lg-5">
                        For contact inquiries, please reach us using the message form on our website. Alternatively, you can
                        email us or call us. Our dedicated team is available to assist you with any questions, concerns, or
                        requests you may have. Whether you need further information or support, we are here to help and provide the
                        assistance you need. We look forward to connecting with you soon and ensuring your experience with us is a positive one!
                    </p>
                </div>
            </div>

            <div class="row contact-row mx-lg-5">
                <div class="col-lg-6 h-100 d-flex flex-column justify-content-center">
                    <div class="address-detail mt-4 mb-5 pt-2">
                        <h2>Contact <span class="text-red">Address</span></h2>
                        <p class="mt-3 pe-5">
                            We invite you to worship with us every Wednesday at <span class="text-red" style="font-weight: bold;">5:30 PM</span>, and
                            on Sundays at <span class="text-red" style="font-weight: bold;">8:00 AM and 10:00 </span>
                            AM. We look forward to connecting with you soon and ensuring your experience with us is a
                            positive one!
                            <br><br>
                            <span class="text-red" style="font-weight: bold;">134 Marshall Street, Johannesburg, South Africa</span>.
                        </p>
                    </div>

                    <div class="address-detail mt-1 mb-5 pb-5">
                        <h2>Contact <span class="text-red">Details</span></h2>
                        <div class="mt-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32">
                                <path fill="currentColor"
                                    d="M15.448 7.021c2.443 0 4.745 1.083 6.432 2.776v.005c0-.813.547-1.428 1.303-1.428h.192c1.193 0 1.432 1.125 1.432 1.48l.005 12.635c-.083.828.855 1.256 1.376.724c2.025-2.083 4.452-10.719-1.261-15.719c-5.328-4.667-12.479-3.896-16.281-1.276c-4.041 2.792-6.624 8.959-4.115 14.755c2.74 6.319 10.573 8.204 15.235 6.324c2.36-.953 3.448 2.233.995 3.276c-3.697 1.577-14 1.416-18.812-6.917C-1.302 18.027-1.13 8.125 7.496 2.995C14.089-.932 22.788.156 28.032 5.631c5.48 5.729 5.163 16.448-.187 20.615c-2.423 1.895-6.021.052-5.995-2.709l-.027-.9c-1.687 1.671-3.932 2.651-6.375 2.651c-4.833 0-9.088-4.256-9.088-9.084c0-4.88 4.255-9.181 9.088-9.181zm6.079 8.834c-.183-3.537-2.808-5.667-5.98-5.667h-.12c-3.656 0-5.687 2.88-5.687 6.145c0 3.661 2.453 5.973 5.672 5.973c3.593 0 5.952-2.629 6.124-5.739z" />
                            </svg>
                            <span>contact@winnerschapelcbd.com</span>
                        </div>
                        <div class="mt-3 d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16">
                                <path fill="currentColor"
                                    d="M7.067 12.926a2.2 2.2 0 0 0-.016 1.009C4.49 13.573 3 11.764 3 10v-.5A1.5 1.5 0 0 1 4.5 8h6.023c.015.355.127.701.328 1H4.5a.5.5 0 0 0-.5.5v.5c0 1.253 1.088 2.6 3.067 2.926M8 1.5A2.75 2.75 0 1 1 8 7a2.75 2.75 0 0 1 0-5.5m0 1A1.75 1.75 0 1 0 8 6a1.75 1.75 0 0 0 0-3.5m3.584 5.081l.283-.75c.258-.68 1.062-1.016 1.74-.727l.388.166c.473.202.865.568.947 1.06c.457 2.725-1.908 6.601-4.63 7.59c-.492.178-1.024.04-1.445-.246l-.346-.235a1.184 1.184 0 0 1-.204-1.79l.545-.607a1.07 1.07 0 0 1 1.034-.323l1.225.29q1.457-.91 1.562-2.56l-.878-.86a.94.94 0 0 1-.221-1.008" />
                            </svg>
                            <div class="d-flex flex-column flex-md-row">
                                <span class="me-3">078880297</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <img src="{{ static('assets/img/insta.svg') }}" class="img-fluid me-2" alt="">
                            <img src="{{ static('assets/img/facebook-fill.svg') }}" class="img-fluid me-2" alt="">
                            <span>@WinnersChapeljhbcbd</span>
                        </div>
                        <div class="mt-3">
                            <img src="{{ static('assets/img/youtube-fill.svg') }}" class="img-fluid me-2" alt="">
                            <span>@WinnersChapeljhbcbd</span>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 h-lg-100 mt-5 mt-lg-0">
                    <div class="contact-form p-4 h-100">
                        <h2 class="mt-1">Get In <span class="text-red">Touch</span></h2>
                        <p class="mt-3">We are just one message away and ready to provide the support you need.</p>
                        <form class="mt-4" method="post">
                            {{ csrf_input }}


                            {% for msg in messages if messages %} 
                                {% if msg.level_tag == 'success' %} 
                                    <span style="color: seagreen; font-weight:bold;">{{msg.message}} </span>
                                {% elif msg.level_tag == 'error' %}
                                    <span class="text-red" style="font-weight:bold;"> {{msg.message}} </span>
                                {% endif %}
                                <br><br>
                            {% endfor %}


                            <div class="mb-3">
                                <label for="id_fullname" class="form-label">Full Name (Surname First)</label>
                                {{form.full_name}}
                                {% if form.full_name.errors %}
                                    <span class="text-red" style="opacity: .8;">{{form.full_name.errors|striptags}}</span>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                <label for="id_phone" class="form-label">Phone Number</label>
                                {{form.phone}}
                                {% if form.phone.errors %}
                                    <span class="text-red" style="opacity: .8;">{{form.phone.errors|striptags}}</span>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                <label for="id_message" class="form-label">Compose Message</label>
                                {{form.message}}
                                {% if form.message.errors %}
                                    <span class="text-red" style="opacity: .8;">{{form.message.errors|striptags}}</span>
                                {% endif %}
                            </div>
                            {{ form.captcha }}

                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </section><!-- /About Section -->

{% endblock pageContent %}
