{% extends 'base.html' %}


{# override meta block #}
{% block pageMeta %}
    <title>Prayer Request - Winners Chapel International JHB CBD</title>
    <meta name="description"
        content="We trust in the power of prayer to bring about transformation and deliverance in times of need via God's world. Kindly mention specifi requests like healing, restoration, wisdom, breakthrough, etc., as we stand firm with Yo in God's promises and trust in His ability to work all things together for Your good.">
    <meta name="keywords"
        content="liviing faith church, liviing faith church cbd, liviing faith church johannesburg, liviing faith church south africa, lfc johannesburg, lfc cbd, winners chapel cbd jhb, bishop david oyedepo, prayers, prayer requests, faith tarbanacle">
{% endblock pageMeta %}


{# fonts block override #}
{% block fonts %}
    {{super()}}
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
{% endblock fonts %}


{# pageContent block override #}
{% block pageContent %}
    <!-- About Section -->
    <section id="contact" class="contact registrations section">

        <div class="container">

            <div class="row contact-us">
                <div class="col text-center px-lg-5">
                    <h1>PRAYER <span class="text-red">REQUEST</span></h1>
                    <p class="mx-lg-5 px-lg-5">
                        We trust in the power of prayer to bring about transformation and 
                        deliverance in times of need via God's world. Kindly mention specific
                        requests like healing, restoration, wisdom, breakthrough, etc., as we stand firm with You
                        in God's promises and trust in His ability to work all things together for Your good.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col">

                    <div class="tab-content" id="myTabContent">


                        <div class="tab-pane fade show active" id="tab2-pane" role="tabpanel" aria-labelledby="tab2"
                            tabindex="0">
                            <div class="row mx-lg-5 mt-5">
                                <div class="col-lg-4">
                                    <div class="left-col d-flex flex-column justify-content-between h-100">
                                        <ul>
                                            <li class="active">
                                                <a href="">
                                                    <img src="{{ static('assets/img/logo-red-small.svg') }}"
                                                        class="img-fluid me-3" alt="">PRAYER REQUEST
                                                </a>
                                            </li>

                                        </ul>
                                        <div class="text-center mt-5 pt-1">
                                            <img src="{{ static('assets/img/logo-gray-large.png') }}" class="img-fluid mt-4"
                                                alt="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-8 mt-4 mt-lg-0">
                                    <div id="form4" class="right-col p-4">
                                        <h2 class="mt-1">PRAYER <span class="text-red">REQUEST </span>FORM</h2>

                                        {% for msg in messages if messages %} 
                                            {% if msg.level_tag == 'success' %} 
                                                <span style="color: green; font-weight: bold;">{{msg.message}} </span>
                                            {% elif msg.level_tag == 'error' %}
                                                <span class="text-red" style="font-weight: bold;">{{msg.message}}</span>
                                            {% endif %}
                                        {% endfor %}

                                        <form class="row gx-3 gy-4 mt-3" method="post">
                                            {{csrf_input}}
                                            <div class="col-md-12">
                                                <label for="id_first_name" class="form-label">First Name</label>
                                                {{form.first_name}}
                                                {% if form.first_name.errors %}<span class="text-red">{{form.first_name.errors|striptags}}</span>{% endif %}
                                            </div>
                                            <div class="col-12">
                                                <label for="id_last_name" class="form-label">Last Name</label>
                                                {{form.last_name}}
                                                {% if form.last_name.errors %}<span class="text-red">{{form.first_name.errors|striptags}}</span>{% endif %}
                                            </div>
                                            <div class="col-md-12">
                                                <div class="d-flex justify-content-between">
                                                    <label for="id_prayer" class="form-label">Request</label>
                                                    <span class="text-muted">Max Char. 2000</span>
                                                </div>
                                                {{form.prayer}}
                                                {% if form.prayer.errors %}<span class="text-red">{{form.prayer.errors|striptags}}</span>{% endif %}
                                            </div>
                                            {{ form.captcha }}
                                            <div class="col-12 d-grid">
                                                <button type="submit" class="btn btn-primary">Send</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock pageContent %}
