{% extends 'base.html' %}

{# override meta block #}
{% block pageMeta %}
    <title>Children's Department  - Winners Chapel International JHB CBD</title>
    <meta name="description"
        content="The Children's Department plays a vital role in the spiritual development and upbringing of the younger generation within the church.">
    <meta name="keywords"
        content="liviing faith church, liviing faith church cbd, liviing faith church johannesburg, liviing faith church south africa, lfc johannesburg, lfc cbd, winners chapel, winners chapel cbd, winners chapel cbd jhb, bishop david oyedepo, conatct us, contact the ark, faith tarbanacle">
{% endblock pageMeta %}

<!-- Fonts -->
{% block fonts %}
  {{super()}}
  <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap"
    rel="stylesheet">
{% endblock fonts %}


{# pageContent block override #}
{% block pageContent %}

    <!-- About Section -->
    <section id="about-winners" class="about-winners ministries section">

        <div class="container">

            <div class="row">
                <div class="col text-center px-lg-5">
                    <img src="{{ static('assets/img/logo-red.png') }}" class="img-fluid mb-3" alt="">
                    <h1>WINNERS <span class="text-red"> CHILDREN </span> DEPARTMENT</h1>
                    <p class="mx-lg-5 px-lg-5 mt-3">
                        The Children’s Department plays a vital role in the spiritual development and 
                        upbringing of the younger generation within the church. It is dedicated to nurturing 
                        children in their faith, providing them with the foundational teachings of the Bible 
                        in an engaging and age-appropriate manner.
                    </p>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-7 pe-lg-4 d-flex flex-column justify-content-center order-last order-lg-first">
                    <h2>
                        “Train up a child in the way he should go: 
                        <span class="text-red">and when he is old</span>, 
                        he will not depart from it.”
                    </h2>
                    <p>
                        The Children’s Department provides opportunities for children to discover their talents 
                        and develop skills in a supportive environment. It encourages young ones to embrace their 
                        faith with joy and excitement, helping them build strong spiritual foundations that will 
                        last throughout their lives
                    </p>
                    <br><br>
                    <div class="text-center text-lg-start">
                        <a href="{{ url('contact') }}" class="btn-join-us mt-4">Join Us</a>
                    </div>
                </div>
                <div class="col-lg-5 order-first order-lg-last d-flex justify-content-center mb-4 mb-lg-0">
                    <img src="{{ static('assets/img/DSC_8766.jpg') }}" class="img-fluid" alt="">
                </div>
            </div>

        </div>

    </section>
{% endblock pageContent %}
