{% extends 'base.html' %}

{# override meta block #}
{% block pageMeta %}
    <title>Followup Department - Winners Chapel International JHB CBD</title>
    <meta name="description"
        content=" The Followup Department is an essential ministry within the church, dedicated to supporting and nurturing new believers, guests, and members who have made decisions to join the church or deepen their faith.">
    <meta name="keywords"
        content="followup department, followup, liviing faith church, liviing faith church cbd, liviing faith church johannesburg, liviing faith church south africa, lfc johannesburg, lfc cbd, winners chapel, winners chapel cbd, winners chapel cbd jhb, bishop david oyedepo, conatct us, contact the ark, faith tarbanacle">
{% endblock pageMeta %}


<!-- Fonts -->
{% block fonts %}
  {{super()}}
  <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap"
    rel="stylesheet">
{% endblock fonts %}



{# pageContent block override #}
{% block pageContent %}

    <!-- About Section -->
    <section id="about-winners" class="about-winners ministries section">

        <div class="container">

            <div class="row">
                <div class="col text-center px-lg-5">
                    <img src="{{ static('assets/img/logo-red.png') }}" class="img-fluid mb-3" alt="">
                    <h1>WINNERS <span class="text-red"> FELLOWUP </span> DEPARTMENT</h1>
                    <p class="mx-lg-5 px-lg-5 mt-3">
                        The Followup Department is an essential ministry within the church, 
                        dedicated to supporting and nurturing new believers, guests, and members 
                        who have made decisions to join the church or deepen their faith.
                    </p>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-7 pe-lg-4 d-flex flex-column justify-content-center order-last order-lg-first">
                    <h2>
                        “Wherefore comfort yourselves together, 
                        <span class="text-red">and edify one another</span>, ...”
                    </h2>
                    <p>
                        Followup Department plays a vital role in ensuring that everyone 
                        who comes through the church doors feels like a part of the community, 
                        receives the care they need, and is encouraged in their faith walk with Christ.
                    </p>
                    <br><br>
                    <div class="text-center text-lg-start">
                        <a href="{{ url('contact') }}" class="btn-join-us mt-4">Join Us</a>
                    </div>
                </div>
                <div class="col-lg-5 order-first order-lg-last d-flex justify-content-center mb-4 mb-lg-0">
                    <img src="{{ static('assets/img/m4.png') }}" class="img-fluid" alt="">
                </div>
            </div>

        </div>

    </section>
{% endblock pageContent %}
