{% extends 'base.html' %}

{# override meta block #}
{% block pageMeta %}
    <title>Sunday Services - Winners Chapel JHB CBD</title>
    <meta name="description"
        content="Sunday services are a vital cornerstone of the Christian faith, offering a profound opportunity to deepen our connectivity with God through His word which is profitable for doctrine, for reproof, for correction, for instruction in righteousness, deliverance and slavation.">
    <meta name="keywords"
        content="sunday services, liviing faith church, liviing faith church cbd, liviing faith church johannesburg, liviing faith church south africa, lfc johannesburg, lfc cbd, winners chapel, winners chapel cbd, winners chapel cbd jhb, bishop david oyedepo, conatct us, contact the ark, faith tarbanacle">
{% endblock pageMeta %}

<!-- Fonts -->
{% block fonts %}
  {{super()}}
  <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap"
    rel="stylesheet">
{% endblock fonts %}


{# pageContent block override #}
{% block pageContent %}

    <!-- About Section -->
    <section id="about-winners" class="about-winners ministries section">

        <div class="container">

            <div class="row">
                <div class="col text-center px-lg-5">
                    <img src="{{ static('assets/img/logo-red.png') }}" class="img-fluid mb-3" alt="">
                    <h1>WINNERS <span class="text-red">SUNDAY</span> SERVICE</h1>
                    <p class="mx-lg-5 px-lg-5 mt-3">
                        Sunday services are a vital cornerstone of the Christian faith, offering a profound opportunity to deepen our connectivity 
                        with God through His word which is profitable for doctrine, for reproof, for correction, 
                        for instruction in righteousness, deliverance and slavation.
                    </p>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-7 pe-lg-4 d-flex flex-column justify-content-center order-last order-lg-first">
                    <h2>
                        “But you have come to  <span class="text-red">Mount Zion, to the city 
                            of the living God, the heavenly Jerusalem</span> ...”
                    </h2>
                    <p>
                        At Winners Chapel CBD Johannesburg, we hold two services. First service starts by <span class="text-red" style="font-weight: bold;">8am</span>
                        and second service with Zulu interpretation starts by  <span class="text-red" style="font-weight: bold;">10am</span>. 
                        <span class="text-red" style="font-weight: bold;">Venue: 134 Marshall Street, Johannesburg, South Africa.</span>
                    </p>
                    <br><br>
                    <div class="text-center text-lg-start">
                        <a href="{{ url('contact') }}" class="btn-join-us mt-4">Join Us</a>
                    </div>
                </div>
                <div class="col-lg-5 order-first order-lg-last d-flex justify-content-center mb-4 mb-lg-0">
                    <img src="{{ static('assets/img/DSC_8610.jpg') }}" class="img-fluid" alt="">
                </div>
            </div>

        </div>

    </section>
{% endblock pageContent %}
