{% extends 'base.html' %}

{# override meta block #}
{% block pageMeta %}
    <title>Week of Spiritual Emphasis - Winners Chapel JHB CBD</title>
    <meta name="description"
        content="The Week of Spiritual Emphasis is a special time set aside for focused prayer, fasting, and spiritual renewal. It serves as an opportunity for believers to deepen their relationship with God seek personal growth, and align their lives with His purpose.">
    <meta name="keywords"
        content=" week of spiritual emphasis, liviing faith church, liviing faith church cbd, liviing faith church johannesburg, liviing faith church south africa, lfc johannesburg, lfc cbd, winners chapel, winners chapel cbd, winners chapel cbd jhb, bishop david oyedepo, conatct us, contact the ark, faith tarbanacle">
{% endblock pageMeta %}


<!-- Fonts -->
{% block fonts %}
  {{super()}}
  <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap"
    rel="stylesheet">
{% endblock fonts %}


{# pageContent block override #}
{% block pageContent %}

    <!-- About Section -->
    <section id="about-winners" class="about-winners ministries section">

        <div class="container">

            <div class="row">
                <div class="col text-center px-lg-5">
                    <img src="{{ static('assets/img/logo-red.png') }}" class="img-fluid mb-3" alt="">
                    <h1>WINNERS <span class="text-red">WEEK OF SPIRITUAL</span> EMPHASIS</h1>
                    <p class="mx-lg-5 px-lg-5 mt-3">
                        The Week of Spiritual Emphasis is a special time set aside 
                        for focused prayer, fasting, and spiritual renewal. It serves as an 
                        opportunity for believers to deepen their relationship with God,
                        seek personal growth, and align their lives with His purpose.
                    </p>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-7 pe-lg-4 d-flex flex-column justify-content-center order-last order-lg-first">
                    <h2>
                        “For where two or three are gathered together in my name, 
                        <span class="text-red">there am I in the midst</span> of them.”
                    </h2>
                    <p>
                        At Winners Chapel CBD Johannesburg, we hold Week Of Spiritual Emphasis in the First Week of every month,
                        <span class="text-red">Wenesday, Thursday and Friday, starting 5:30 PM</span>.
                        <span class="text-red" style="font-weight: bold;">Venue: 134 Marshall Street, Johannesburg, South Africa.</span>
                    </p>
                    <br><br>
                    <div class="text-center text-lg-start">
                        <a href="{{ url('contact') }}" class="btn-join-us mt-4">Join Us</a>
                    </div>
                </div>
                <div class="col-lg-5 order-first order-lg-last d-flex justify-content-center mb-4 mb-lg-0">
                    <img src="{{ static('assets/img/12-pillars.png') }}" class="img-fluid" alt="">
                </div>
            </div>

        </div>

    </section>
{% endblock pageContent %}
