{% extends 'base.html' %}

{# override meta block #}
{% block pageMeta %}
    <title>WSF - Winners Chapel JHB CBD</title>
    <meta name="description"
        content="The Winners Satellite Fellowship (WSF) is a key part of the church's ministry, designed to foster deeper relationships among members and provide a platform for spiritual growth in smaller, more personal settings."
        content="wsf, winners satellite fellowship (wsf), liviing faith church, liviing faith church cbd, liviing faith church johannesburg, liviing faith church south africa, lfc johannesburg, lfc cbd, winners chapel, winners chapel cbd, winners chapel cbd jhb, bishop david oyedepo, conatct us, contact the ark, faith tarbanacle">
{% endblock pageMeta %}


<!-- Fonts -->
{% block fonts %}
  {{super()}}
  <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap"
    rel="stylesheet">
{% endblock fonts %}


{# pageContent block override #}
{% block pageContent %}

    <!-- About Section -->
    <section id="about-winners" class="about-winners ministries section">

        <div class="container">

            <div class="row">
                <div class="col text-center px-lg-5">
                    <img src="{{ static('assets/img/logo-red.png') }}" class="img-fluid mb-3" alt="">
                    <h1>WINNERS <span class="text-red"> SATELLITE FELLOWSHIP </span> (WSF)</h1>
                    <p class="mx-lg-5 px-lg-5 mt-3">
                        The Winners Satellite Fellowship (WSF) is a key part of the 
                        church's ministry, designed to foster deeper relationships among 
                        members and provide a platform for spiritual growth in smaller, 
                        more personal settings.
                    </p>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-7 pe-lg-4 d-flex flex-column justify-content-center order-last order-lg-first">
                    <h2>
                        “And the ark of the LORD continued in the house of Obededom ... and 
                        <span class="text-red">the LORD blessed Obededom</span>...”
                    </h2>
                    <p>
                        At Winners Chapel Johannesburg CBD, we hold WSF every Saturday at 
                        differenct locations across Johannesburg, starting 
                        <span class="text-red" style="font-weight: bold;">5 PM</span>. Contact
                        the Church for more details.
                        <span class="text-red" style="font-weight: bold;">
                            Venue: 134 Marshall Street, Johannesburg, South Africa.
                        </span>
                    </p>
                    <br><br>
                    <div class="text-center text-lg-start">
                        <a href="{{ url('contact') }}" class="btn-join-us mt-4">Join Us</a>
                    </div>
                </div>
                <div class="col-lg-5 order-first order-lg-last d-flex justify-content-center mb-4 mb-lg-0">
                    <img src="{{ static('assets/img/ministry.png') }}" class="img-fluid" alt="">
                </div>
            </div>

        </div>

    </section>
{% endblock pageContent %}
