{% extends 'base.html' %}

{# override meta block #}
{% block pageMeta %}
    <title>YAF - Winners Chapel International JHB CBD</title>
    <meta name="description"
        content="The Youth Alive Fellowship (YAF) is a dynamic and vibrant ministry dedicated to empowering and equipping young people to live out their faith boldly and passionately. YAF provides a platform for youth to come together, build relationships, and engage in activities that promote spiritual growth, leadership, and service to God.">
    <meta name="keywords"
        content="yaf, youth alive fellowship (yaf), winners youth alive fellowship,  liviing faith church, liviing faith church cbd, liviing faith church johannesburg, liviing faith church south africa, lfc johannesburg, lfc cbd, winners chapel, winners chapel cbd, winners chapel cbd jhb, bishop david oyedepo, conatct us, contact the ark, faith tarbanacle">
{% endblock pageMeta %}


<!-- Fonts -->
{% block fonts %}
  {{super()}}
  <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap"
    rel="stylesheet">
{% endblock fonts %}


{# pageContent block override #}
{% block pageContent %}
    <!-- About Section -->
    <section id="about-winners" class="about-winners ministries section">

        <div class="container">

            <div class="row">
                <div class="col text-center px-lg-5">
                    <img src="{{ static('assets/img/logo-red.png') }}" class="img-fluid mb-3" alt="">
                    <h1>WINNERS <span class="text-red"> YOUTH ALIVE FELLOWSHIP</span> (YAF)</h1>
                    <p class="mx-lg-5 px-lg-5 mt-3">
                        The Youth Alive Fellowship (YAF) is a dynamic and vibrant ministry dedicated to 
                        empowering and equipping young people to live out their faith boldly and passionately. 
                        YAF provides a platform for youth to come together, build relationships, 
                        and engage in activities that promote spiritual growth, leadership, and service to God.
                    </p>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-7 pe-lg-4 d-flex flex-column justify-content-center order-last order-lg-first">
                    <h2>
                        “... saith the LORD, 
                        <span class="text-red">thoughts of peace, and not of evil</span>, 
                        to give you an expected end.”
                    </h2>
                    <p>
                        YAF is not only about spiritual development but also focuses on social impact, leadership training, 
                        and personal growth. By providing opportunities for youth to get involved in ministry, outreach, 
                        and community service, YAF empowers the next generation to make a positive difference in their 
                        communities and the world.
                    </p>
                    <br><br>
                    <div class="text-center text-lg-start">
                        <a href="{{ url('contact') }}" class="btn-join-us mt-4">Join Us</a>
                    </div>
                </div>
                <div class="col-lg-5 order-first order-lg-last d-flex justify-content-center mb-4 mb-lg-0">
                    <img src="{{ static('assets/img/DSC_8913.jpg') }}" class="img-fluid" alt="">
                </div>
            </div>

        </div>

    </section>
{% endblock pageContent %}
