<h2 class="mt-1">NEW CONVERTS <span class="text-red">FORM</span></h2>
<div class="d-flex align-items-center">
    <span class="badge">SUNDAY ENTRY</span>
    <span>PERSONAL INFORMATION</span>
</div>
<form id="sunday_two_form"class="row gx-3 gy-4 mt-4" action="" method="post">
    {{csrf_input}}
    <input type="text" name="followup_type" placeholder="form block" value="New Convert" style="display: none;">
    <input type="text" name="form_section" placeholder="form block" value="sunday" style="display: none;">

    <div class="col-12">
        {{sunday_form.title.label|safe}}
        {{sunday_form.title}}
        {% if form.title is defined and form.title.errors and form_section == 'sunday_convert_form' %}
            <span style="color: #DA0000;">{{form.title.errors|striptags}}</span>
        {% endif %}
    </div>
    <div class="col-md-6">
        {{sunday_form.first_name.label|safe}}
        {{sunday_form.first_name}}
        {% if form.first_name is defined and form.first_name.errors and form_section == 'sunday_convert_form' %}
            <span style="color: #DA0000;">{{form.first_name.errors|striptags}}</span>
        {% endif %}
    </div>
    <div class="col-md-6">
        {{sunday_form.last_name.label|safe}}
        {{sunday_form.last_name}}
        {% if form.last_name is defined and form.last_name.errors and form_section == 'sunday_convert_form' %}
            <span style="color: #DA0000;">{{form.last_name.errors|striptags}}</span>
        {% endif %}
    </div>
    <div class="col-md-4">
        {{sunday_form.birthday.label|safe}}
        {{sunday_form.birthday}}
        {% if form.birthday is defined and form.birthday.errors and form_section == 'sunday_convert_form' %}
            <span style="color: #DA0000;">{{form.birthday.errors|striptags}}</span>
        {% endif %}
    </div>
    <div class="col-md-8">
        {{sunday_form.email.label|safe}}
        {{sunday_form.email}}
        {% if form.email is defined and form.email.errors and form_section == 'sunday_convert_form' %}
            <span style="color: #DA0000;">{{form.email.errors|striptags}}</span>
        {% endif %}
    </div>
    <div class="col-md-12">
        {{sunday_form.inviter.label|safe}}
        {{sunday_form.inviter}}
        {% if form.inviter is defined and form.inviter.errors and form_section == 'sunday_convert_form' %}
            <span style="color: #DA0000;">{{form.inviter.errors|striptags}}</span>
        {% endif %}
    </div>
    <div class="col-md-12">
        {{sunday_form.invite_process.label|safe}}
        {{sunday_form.invite_process}}
        {% if form.invite_process is defined and form.invite_process.errors and form_section == 'sunday_convert_form' %}
            <span style="color: #DA0000;">{{form.invite_process.errors|striptags}}</span>
        {% endif %}
    </div>
    <div class="col-md-6">
        {{sunday_form.phone_number.label|safe}}
        {{sunday_form.phone_number}}
        {% if form.phone_number is defined and form.phone_number.errors and form_section == 'sunday_convert_form' %}
            <span style="color: #DA0000;">{{form.phone_number.errors|striptags}}</span>
        {% endif %}
    </div>
    <div class="col-md-6">
        {{sunday_form.membership.label|safe}}
        {{sunday_form.membership}}
        {% if form.membership is defined and form.membership.errors and form_section == 'sunday_convert_form' %}
            <span style="color: #DA0000;">{{form.membership.errors|striptags}}</span>
        {% endif %}
    </div>
    
    <div class="col-md-12">
        {{sunday_form.prayer.label|safe}}
        {{sunday_form.prayer}}
        {% if form.prayer is defined and form.prayer.errors and form_section == 'sunday_convert_form' %}
            <span style="color: #DA0000;">{{form.prayer.errors|striptags}}</span>
        {% endif %}
    </div>
    <div class="col-12 d-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

