<h2 class="mt-1">FIRST TIMERS <span class="text-red">FORM</span></h2>
<div class="d-flex align-items-center">
    <span class="badge">Sunday Entry</span>
    <span>PERSONAL INFORMATION</span>
</div>
<form id="sunday_form" class="row gx-3 gy-4 mt-4" action="" method="post">
    {{csrf_input}}
    <input type="text" name="followup_type" placeholder="form block" value="Firt Timer" style="display: none;">
    <input type="text" name="form_section" placeholder="form block" value="sunday_first_timer" style="display: none;">

    <div class="col-12">
        {{sunday_form.title.label|safe}}
        {{sunday_form.title}}
        {% if sunday_form.title is defined and sunday_form.title.errors and form_section == 'sunday_first_timer' %}
            <span style="color: #DA0000;">{{sunday_form.title.errors|striptags}}</span>
        {% endif %}
    </div>
    <div class="col-md-6">
        {{sunday_form.first_name.label|safe}}
        {{sunday_form.first_name}}
        {% if sunday_form.first_name is defined and sunday_form.first_name.errors and form_section == 'sunday_first_timer' %}
            <span style="color: #DA0000;">{{sunday_form.first_name.errors|striptags}}</span>
        {% endif %}
    </div>
    <div class="col-md-6">
        {{sunday_form.last_name.label|safe}}
        {{sunday_form.last_name}}
        {% if sunday_form.last_name is defined and sunday_form.last_name.errors and form_section == 'sunday_first_timer' %}
            <span style="color: #DA0000;">{{sunday_form.last_name.errors|striptags}}</span>
        {% endif %}
    </div>
    <div class="col-md-4">
        {{sunday_form.birthday.label|safe}}
        {{sunday_form.birthday}}
        {% if sunday_form.birthday is defined and sunday_form.birthday.errors and form_section == 'sunday_first_timer' %}
            <span style="color: #DA0000;">{{sunday_form.birthday.errors|striptags}}</span>
        {% endif %}
    </div>
    <div class="col-md-8">
        {{sunday_form.email.label|safe}}
        {{sunday_form.email}}
        {% if sunday_form.email is defined and sunday_form.email.errors and form_section == 'sunday_first_timer' %}
            <span style="color: #DA0000;">{{sunday_form.email.errors|striptags}}</span>
        {% endif %}
    </div>
    <div class="col-md-12">
        {{sunday_form.inviter.label|safe}}
        {{sunday_form.inviter}}
        {% if sunday_form.inviter is defined and sunday_form.inviter.errors and form_section == 'sunday_first_timer' %}
            <span style="color: #DA0000;">{{sunday_form.inviter.errors|striptags}}</span>
        {% endif %}
    </div>
    <div class="col-md-12">
        {{sunday_form.invite_process.label|safe}}
        {{sunday_form.invite_process}}
        {% if sunday_form.invite_process is defined and  sunday_form.invite_process.errors and form_section == 'sunday_first_timer' %}
            <span style="color: #DA0000;">{{sunday_form.invite_process.errors|striptags}}</span>
        {% endif %}
    </div>
    <div class="col-md-6">
        {{sunday_form.phone_number.label|safe}}
        {{sunday_form.phone_number}}
        {% if sunday_form.phone_number is defined  and sunday_form.phone_number.errors and form_section == 'sunday_first_timer' %}
            <span style="color: #DA0000;">{{sunday_form.phone_number.errors|striptags}}</span>
        {% endif %}
    </div>
    <div class="col-md-6">
        {{sunday_form.membership.label|safe}}
        {{sunday_form.membership}}
        {% if sunday_form.membership is defined  and sunday_form.membership.errors and form_section == 'sunday_first_timer' %}
            <span style="color: #DA0000;">{{sunday_form.membership.errors|striptags}}</span>
        {% endif %}
    </div>
    
    <div class="col-md-12">
        {{sunday_form.prayer.label|safe}}
        {{sunday_form.prayer}}
        {% if sunday_form.prayer is defined and sunday_form.prayer.errors and form_section == 'sunday_first_timer' %}
            <span style="color: #DA0000;">{{sunday_form.prayer.errors|striptags}}</span>
        {% endif %}
    </div>
    <div class="col-12 d-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
